.wrapper {
    //display: flex;
    background-color: orange;
}

.wrapper: after {
    content: "";
    display: block;
    clear: both;
}

.box {
    min-height: 100px;
    min-width: 100px;
    float: left;
}

.one {
    background-color: red;
}

.two {
    background-color: green;
}

.three {
    background-color: blue;
}

.four {
    background-color: yellow;
}
