nav ul {
    display: flex;
    list-style-type: none;
    background-color: #555;
    padding: 0;
    display: flex;
    flex: 1 1 0;
}

nav ul a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li {
    flex: 1 1 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul.social {
    display: flex;
    justify-content: flex-end;
}

ul.social li {
    flex: 1 1 0;
    text-align: right;
}
